
.action-flag {
	&::before {
		font-family: $font_family_3;
		font-weight: 400;
		content: "\f02e";
		padding: 5px;
	}
	&:hover {
		&::before {
			font-family: $font_family_3;
			font-weight: 900;
			content: "\f02e";
			padding: 5px;
		}
	}
}
.action-unflag {
	&::before {
		font-family: $font_family_3;
		font-weight: 900;
		content: "\f02e";
		padding: 5px;

	}
}
