
/**********footer********/
.footer {
	background-color: $primaryColor;
	width: 100% !important;
	border: none;
	//padding: 5em 0;
	position: relative;
	.footcolumns {
		.footsy {
			@include clearfix; 
			.region {
				h2 {
					@include fontSize(22px);
				}
				a.navbar-brand {
					font-family: $LOGO;
					@include fontSize(56px);
					color: #fff;
				}
				color: #fff;
				ul:not(.contextual-links)  {
					display: inline-grid;
					li {
						color: #fff;
						a {
							@include linx(#fff, #fff, $offColor, $ORANGY, $textDecoration);
							background-color: $primaryColor;
						//	@include linx($primaryColor, $secondaryColor, $secondaryColor, $primaryColor, $textDecoration);
						}
					}
				}
			}
		}
		.region-footer-three {
			.navbar-right {
			   float: unset !important;
			}
		}
	}
	.footer_abs_bottom {
		#block-footernonsense {
			padding-top: calculateRem(60px);
		  text-align: center;
			padding-bottom: 0px;
			margin-bottom: 0px;
			p {
				color: #fff;
				@include fontSize(13px);
			}
		}
	}
}
