
/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 **/
/**********global********/
html {
  font-size: 16px;
}
//
// @include media-breakpoint-up(sm) {
//   html {
//     font-size: 1.2rem;
//   }
// }
//
// @include media-breakpoint-up(md) {
//   html {
//     font-size: 1.4rem;
//   }
// }
//
// @include media-breakpoint-up(lg) {
//   html {
//     font-size: 1.6rem;
//   }
// }
body {
	font-family: $bodyFont;
  line-height: 1.8;
	// margin-top: 0px !important;
	font-size: 16px !important;
  .main-container {
    // margin-top: 1px;
  }
  @include mq('xl') {
    .main-container {
      max-width: 80%;
    }
  }
  @include mq('hd') {
    .main-container {
      max-width: 88%;
    }
  }
  #toolbar-administration {
  //  padding: 50px;
  }
  .content-top {
    padding-top: 10em;
  }
  .bs-region--right {
    .bs-region--right {
      text-align: right;
    }
  }
}

* {
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s;
}

/*** header styling ***/
h1, .h1 {
	font-family: $primaryfont;
	font-weight: 500;
	@include fontSize(30px);
  letter-spacing: calculateRem(6px);
}
h2, .h2, h1.page-header {
	font-family: $secondaryfont;
	font-weight: 500;
	@include fontSize(28px);
  letter-spacing: calculateRem(6px);
  color: $ORANGY;
  padding-bottom: calculateRem(12px);
  border-bottom: $ORANGY solid calculateRem(1px);
}
h3, .h3 {
	font-family: $primaryfont;
	font-weight: 500;
	@include fontSize(26px);
}
h4, .h4 {
	font-family: $secondaryfont;
	font-weight: 500;
  letter-spacing: calculateRem(4px);
	@include fontSize(24px);
  color: $ORANGY;
}
h5, .h5 {
	font-family: $primaryfont;
	font-weight: 500;
	@include fontSize(22px);
}
h6, .h6 {
	font-family: $secondaryfont;
	font-weight: 500;
  letter-spacing: calculateRem(3px);
	@include fontSize(20px);
}
/* Default Styling for a links */
a {
  @include linx($primaryColor, $secondaryColor, $secondaryColor, $primaryColor, $textDecoration);
}

.field--name-realname {
  .field--label {
    display: none;
  }
  .field--item {
    a {
      @extend .h2;
    }
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 90%;
    margin: 30px auto;
  }
}
