
/**********header********/

.page-header {
	border: none;
}
// .navbar-default .navbar-nav > .active > a
// .navbar-default .navbar-nav > .active > a:hover,
// .navbar-default .navbar-nav > .active > a:focus {
//     color: #555;
//     background-color: #e7e7e7;
// .navbar-default {
//
// }

.nav {
	> li {
		> a {
		  @include linx($primaryColor, $primaryColor, $ORANGY, $ORANGY, $textDecoration);
			// background-color: $primaryColor;
		}
	}
}

#block-mainnavigation {
	.nav {
		> li {
			> a {
			  @include linx(#fff, #fff, $offColor, $ORANGY, $textDecoration);
				// background-color: $primaryColor;
			}
		}
	}
}

.menu--account {
	display: inline-flex;
	li {
		width: max-content;
	}
}

header.navbar-default {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
	background-color: $primaryColor;
	color: $offColor;
	background: #fff;
	background-color: $primaryColor;
	border: none;
	.navbar-nav {
		display: inline-flex;
		> li {
			background-color: $primaryColor;
			> a {
				background-color: $primaryColor;
			  @include linx(#fff, #fff, $offColor, $ORANGY, $textDecoration);
			}
		}
	}
	.logo {
		img {
			mix-blend-mode: difference;
			filter: invert(1);
		}
	}
	.navbar-header {
		.region-navigation {
			 .navbar-brand {
				font-family: $LOGO;
				@include fontSize(40px);
				color: #fff;
			}
			#block-exposedformsearch-contentpage-1 {
				margin-top: calculateRem(-40px);
				label.control-label {
					display: none;
				}
			}
		}
	}
	.navbar-collapse {
		.region-navigation-collapsible {
			#block-bot-custom-main-menu {

			}
			.moveup {
				@include mq('md') {
					margin-top: calculateRem(-46px);
					// padding-bottom: 20px;
				}
			}
		}
	}
}


// .topbar {
// 	padding-top: 0px !important;
// 	margin-top: calculateRem(-15px) !important;
// 	padding-bottom: calculateRem(20px);
// 	background-color: $tertiaryColor;
// }
