/** Custom Checkboxes on facets. **/

/** Trying to get this to work: https://bootsnipp.com/snippets/GaxR2 **/

$background_color_1: #ccc;
$background_color_2: white;
$background_color_3: #444;

/** The switch - the box around the facet-item__value **/
/** Hide facets-checkbox HTML checkbox **/
/** The facet-item__value **/
/** Rounded facet-item__values
label[for=cuisine_name-American]{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	float: right;
	input {
		display: none;
	}
}

.facet-item__value {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $background_color_1;
	-webkit-transition: .4s;
	transition: .4s;
	&:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: $background_color_2;
		-webkit-transition: .4s;
		transition: .4s;
	}
}
input.facets-checkbox {
	&:checked {
		&+.facet-item__value {
			background-color: $background_color_3;
		}
	}
}

input {
	&:focus {
		&+.facet-item__value {
			box-shadow: 0 0 1px #2196F3;
		}
	}
	&:checked {
		&+.facet-item__value {
			&:before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}
		}
	}
}
.facet-item__value.round {
	border-radius: 34px;
	&:before {
		border-radius: 50%;
	}
} **/ 
