.views-row {
   @include marginSize(16px);
}

.view-recipe-blocks {
  .media--responsive {
    img {
      @include zoom-background(1.15, 0.5s);
    }
  }
  .field--name-node-post-date {
    text-align: right;
  }
}

.view-display-id-recipe_search_page {
  .views-row {
    margin-bottom: 3em;
    .bs-region--right {
      border-color: $GRAY_BLUE !important;
      padding-bottom: calculateRem(16px);
      border-bottom: calculateRem(1px) solid;
      padding-left: calculateRem(32px);
      .flag {
        float: right;
        padding: calculateRem(5px) calculateRem(10px) calculateRem(5px) calculateRem(10px);
        @extend .btn-primary;
        @include button-variant($AIR_SUPERIORITY_BLUE, #fff, $AIR_SUPERIORITY_BLUE);
        border-radius: calculateRem(25px);
        a {
          color: $AIR_SUPERIORITY_BLUE;
        }
      }
    }
  }
}

.recent-recipe-list {
  .views-row {
  }
}

.favorite-recipes, .most-viewed-recipes, .related-recipes {
  .bs-region--right {
    text-align: right;
    .flag {
      float: right;
      padding: calculateRem(5px) calculateRem(10px) calculateRem(5px) calculateRem(10px);
      @extend .btn-primary;
      @include button-variant($AIR_SUPERIORITY_BLUE, #fff, $AIR_SUPERIORITY_BLUE);
      border-radius: calculateRem(25px);
      a {
        color: $AIR_SUPERIORITY_BLUE;
        @extend .btn-primary; 
      }
    }
  }
  .bs-region--left {
    .field--name-node-author {
      a {
        font-size: 14px;
        font-size: 0.88rem;
        text-align: left;
      }
    }
  }
}
