

.page-node-type-recipe {
  counter-reset: paragraph--type--instruction;
  /* default padding for regions.  */
  .bs-region {
    padding-bottom: calculateRem(24px);
    h4 {
      @include aniborder($colors);
      padding-bottom: calculateRem(16px);
    }
    /* Command and Question Tabs container */
    .commsandquest {
      max-width: 80%;
      margin: auto;
    }
  }
  .bs-region--top {
    border-bottom: calculateRem(1px) solid $WELDON_BLUE;
    margin-bottom: calculateRem(16px);
  }
  // View display mode
  .bs-2col-stacked {
    .bs-region--top {
      border-bottom: transparent;
      padding-bottom: 0px !important;
      margin-bottom: 0px !important;
    }
  }

  .paragraph--type--instruction {
    position: relative;
    counter-increment: paragraph--type--instruction;
    // padding: calculateRem(20px);
  &:before {
    @extend h6;
    content: counter(paragraph--type--instruction)".";
    @extend .btn-primary;
    // @include button-variant($AIR_SUPERIORITY_BLUE, #fff, $AIR_SUPERIORITY_BLUE);
    // border-radius: calculateRem(25px);
    }
  }
}

// Need to hide revision info for non-admin
.user-logged-in {
  .node-recipe-recipe-step-1-form,
  .node-recipe-recipe-step-2-form,
  .node-recipe-recipe-step-3-form,
  .node-recipe-recipe-step-4-form  {
    .form-type-vertical-tabs {
      display: none;
    }
  }
}
