/*  This file should not have any styles,
it is just a collection of import statements. */
/*!
 * Custom Bootstrap Build for BOT v3.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*  This file should not have any styles,
it is just a collection of import statements. */
/* Color Scheme from:
https://coolors.co/425259-8be8cb-7ea2aa-888da7-9c7a97
https://coolors.co/425259-63adf2-7ea2aa-a7cced-82a0bc
*/
/*
  Function to convert px -> rem.
  http://www.stubbornella.org/content/2013/07/01/easy-peasy-rem-conversion-with-sass/
  Used in mixin.
*/
/* It's so easy to loose track of your z-index values when working
in several different files, so we created this so that we could
store them in one place for easy editing/recording.

Then where ever you're wanting to use a z-index value, name it the
same as your class and add in it into your variables/setting file,
like below. You'll never have a "z-index: 99999999;" headache again.

.site-header {
    z-index: z('site-header');
}
*/
/*
  Custom mixin using calculate rem function.
  Includes fallback for browsers that don't support rems.
*/
/* To quickly centre a block element without having
to worry about if there is any top or bottom margin
already applied. */
/*  When using ::before and ::after you'll always need
these three, so we're saving two lines of code every
time you use this. */
/* use this for creating scalable elements (usually images / background images)
that maintain a ratio. So to use this you could write the below and your
div would have a ratio commonly utilised by video.

div {
  @include responsive-ratio(16,9);
}

*/
/* A massive time saver! You can just use pixel values
but we have some default breakpoints setup that work too,
another time saver while keeping your breakpoints consistent.

The example showing the padding and font-size increasing once the viewport gets over 1024px.

.site-header {
    padding: 2rem;
    font-size: 1.8rem;
    @include mq('tablet-wide') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
}
*/
/* Adding Truncation to an element isn't as simple as it should be,
although it is with this handy time saver, meaning when you
include the mixin, you only have to specify your boundry with
a max width value, happy days!
*/
/*  Example Color Array
$colors: (
  'firstColor': $primaryColor,
  'secondColor': $secondaryColor,
  'thirdColor': $tertiaryColor,
);
*/
@keyframes underline-gradient {
  0% {
    transform: translate3d(0%, 0%, 0);
  }
  100% {
    transform: translate3d(-75%, 0%, 0);
  }
}

/* Bourbon */
/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
/* globals, regions, etc... */
/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 **/
/**********global********/
html {
  font-size: 16px;
}

body {
  font-family: "Raleway", serif;
  line-height: 1.8;
  font-size: 16px !important;
}

@media only screen and (min-width: 1440px) {
  body .main-container {
    max-width: 80%;
  }
}

@media only screen and (min-width: 1600px) {
  body .main-container {
    max-width: 88%;
  }
}

body .content-top {
  padding-top: 10em;
}

body .bs-region--right .bs-region--right {
  text-align: right;
}

* {
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s;
}

/*** header styling ***/
h1, .h1 {
  font-family: "Quicksand", serif;
  font-weight: 500;
  font-size: 30px;
  font-size: 1.875rem;
  letter-spacing: 0.375rem;
}

h2, .h2, .field--name-realname .field--item a, h1.page-header {
  font-family: "Merriweather", serif;
  font-weight: 500;
  font-size: 28px;
  font-size: 1.75rem;
  letter-spacing: 0.375rem;
  color: #d39728;
  padding-bottom: 0.75rem;
  border-bottom: #d39728 solid 0.0625rem;
}

h3, .h3 {
  font-family: "Quicksand", serif;
  font-weight: 500;
  font-size: 26px;
  font-size: 1.625rem;
}

h4, .h4 {
  font-family: "Merriweather", serif;
  font-weight: 500;
  letter-spacing: 0.25rem;
  font-size: 24px;
  font-size: 1.5rem;
  color: #d39728;
}

h5, .h5 {
  font-family: "Quicksand", serif;
  font-weight: 500;
  font-size: 22px;
  font-size: 1.375rem;
}

h6, .facetblock .block-title, .page-node-type-recipe .paragraph--type--instruction:before, .h6 {
  font-family: "Merriweather", serif;
  font-weight: 500;
  letter-spacing: 0.1875rem;
  font-size: 20px;
  font-size: 1.25rem;
}

/* Default Styling for a links */
a {
  color: #425259;
  text-decoration: none;
  background-color: inherit;
}

a:visited {
  color: #7EA2AA;
  text-decoration: none;
  background-color: inherit;
}

a:hover {
  color: #7EA2AA;
  text-decoration: none;
  background-color: inherit;
}

a:active {
  color: #425259;
  text-decoration: none;
  background-color: inherit;
}

a:focus {
  color: #425259;
  text-decoration: none;
  background-color: inherit;
}

.field--name-realname .field--label {
  display: none;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 90%;
    margin: 30px auto;
  }
}

/**********header********/
.page-header {
  border: none;
}

.nav > li > a {
  color: #425259;
  text-decoration: none;
  background-color: inherit;
}

.nav > li > a:visited {
  color: #425259;
  text-decoration: none;
  background-color: inherit;
}

.nav > li > a:hover {
  color: #d39728;
  text-decoration: none;
  background-color: inherit;
}

.nav > li > a:active {
  color: #d39728;
  text-decoration: none;
  background-color: inherit;
}

.nav > li > a:focus {
  color: #d39728;
  text-decoration: none;
  background-color: inherit;
}

#block-mainnavigation .nav > li > a {
  color: #fff;
  text-decoration: none;
  background-color: inherit;
}

#block-mainnavigation .nav > li > a:visited {
  color: #fff;
  text-decoration: none;
  background-color: inherit;
}

#block-mainnavigation .nav > li > a:hover {
  color: #8BE8CB;
  text-decoration: none;
  background-color: inherit;
}

#block-mainnavigation .nav > li > a:active {
  color: #d39728;
  text-decoration: none;
  background-color: inherit;
}

#block-mainnavigation .nav > li > a:focus {
  color: #d39728;
  text-decoration: none;
  background-color: inherit;
}

.menu--account {
  display: inline-flex;
}

.menu--account li {
  width: max-content;
}

header.navbar-default {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  background-color: #425259;
  color: #8BE8CB;
  background: #fff;
  background-color: #425259;
  border: none;
}

header.navbar-default .navbar-nav {
  display: inline-flex;
}

header.navbar-default .navbar-nav > li {
  background-color: #425259;
}

header.navbar-default .navbar-nav > li > a {
  background-color: #425259;
  color: #fff;
  text-decoration: none;
  background-color: inherit;
}

header.navbar-default .navbar-nav > li > a:visited {
  color: #fff;
  text-decoration: none;
  background-color: inherit;
}

header.navbar-default .navbar-nav > li > a:hover {
  color: #8BE8CB;
  text-decoration: none;
  background-color: inherit;
}

header.navbar-default .navbar-nav > li > a:active {
  color: #d39728;
  text-decoration: none;
  background-color: inherit;
}

header.navbar-default .navbar-nav > li > a:focus {
  color: #d39728;
  text-decoration: none;
  background-color: inherit;
}

header.navbar-default .logo img {
  mix-blend-mode: difference;
  filter: invert(1);
}

header.navbar-default .navbar-header .region-navigation .navbar-brand {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  font-size: 2.5rem;
  color: #fff;
}

header.navbar-default .navbar-header .region-navigation #block-exposedformsearch-contentpage-1 {
  margin-top: -2.5rem;
}

header.navbar-default .navbar-header .region-navigation #block-exposedformsearch-contentpage-1 label.control-label {
  display: none;
}

@media only screen and (min-width: 1024px) {
  header.navbar-default .navbar-collapse .region-navigation-collapsible .moveup {
    margin-top: -2.875rem;
  }
}

/**********footer********/
.footer {
  background-color: #425259;
  width: 100% !important;
  border: none;
  position: relative;
}

.footer .footcolumns .footsy::after {
  clear: both;
  content: "";
  display: block;
}

.footer .footcolumns .footsy .region {
  color: #fff;
}

.footer .footcolumns .footsy .region h2 {
  font-size: 22px;
  font-size: 1.375rem;
}

.footer .footcolumns .footsy .region a.navbar-brand {
  font-family: "Amatic SC", cursive;
  font-size: 56px;
  font-size: 3.5rem;
  color: #fff;
}

.footer .footcolumns .footsy .region ul:not(.contextual-links) {
  display: inline-grid;
}

.footer .footcolumns .footsy .region ul:not(.contextual-links) li {
  color: #fff;
}

.footer .footcolumns .footsy .region ul:not(.contextual-links) li a {
  color: #fff;
  text-decoration: none;
  background-color: inherit;
  background-color: #425259;
}

.footer .footcolumns .footsy .region ul:not(.contextual-links) li a:visited {
  color: #fff;
  text-decoration: none;
  background-color: inherit;
}

.footer .footcolumns .footsy .region ul:not(.contextual-links) li a:hover {
  color: #8BE8CB;
  text-decoration: none;
  background-color: inherit;
}

.footer .footcolumns .footsy .region ul:not(.contextual-links) li a:active {
  color: #d39728;
  text-decoration: none;
  background-color: inherit;
}

.footer .footcolumns .footsy .region ul:not(.contextual-links) li a:focus {
  color: #d39728;
  text-decoration: none;
  background-color: inherit;
}

.footer .footcolumns .region-footer-three .navbar-right {
  float: unset !important;
}

.footer .footer_abs_bottom #block-footernonsense {
  padding-top: 3.75rem;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.footer .footer_abs_bottom #block-footernonsense p {
  color: #fff;
  font-size: 13px;
  font-size: 0.8125rem;
}

/* Enhancements */
/** Custom Checkboxes on facets. **/
/** Trying to get this to work: https://bootsnipp.com/snippets/GaxR2 **/
/** The switch - the box around the facet-item__value **/
/** Hide facets-checkbox HTML checkbox **/
/** The facet-item__value **/
/** Rounded facet-item__values
label[for=cuisine_name-American]{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	float: right;
	input {
		display: none;
	}
}

.facet-item__value {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $background_color_1;
	-webkit-transition: .4s;
	transition: .4s;
	&:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: $background_color_2;
		-webkit-transition: .4s;
		transition: .4s;
	}
}
input.facets-checkbox {
	&:checked {
		&+.facet-item__value {
			background-color: $background_color_3;
		}
	}
}

input {
	&:focus {
		&+.facet-item__value {
			box-shadow: 0 0 1px #2196F3;
		}
	}
	&:checked {
		&+.facet-item__value {
			&:before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}
		}
	}
}
.facet-item__value.round {
	border-radius: 34px;
	&:before {
		border-radius: 50%;
	}
} **/
.action-flag::before {
  font-family: "Montserrat", serif;
  font-weight: 400;
  content: "\f02e";
  padding: 5px;
}

.action-flag:hover::before {
  font-family: "Montserrat", serif;
  font-weight: 900;
  content: "\f02e";
  padding: 5px;
}

.action-unflag::before {
  font-family: "Montserrat", serif;
  font-weight: 900;
  content: "\f02e";
  padding: 5px;
}

/* Site Pieces */
.views-row {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.view-recipe-blocks .media--responsive img {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  transition: transform 0.5s ease-in-out;
}

.view-recipe-blocks .media--responsive img:hover {
  transform: scale(1.15);
  transition-duration: 0.5s;
}

.view-recipe-blocks .field--name-node-post-date {
  text-align: right;
}

.view-display-id-recipe_search_page .views-row {
  margin-bottom: 3em;
}

.view-display-id-recipe_search_page .views-row .bs-region--right {
  border-color: #888DA7 !important;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid;
  padding-left: 2rem;
}

.view-display-id-recipe_search_page .views-row .bs-region--right .flag {
  float: right;
  padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
  color: #82A0BC;
  background-color: #fff;
  border-color: #82A0BC;
  border-radius: 1.5625rem;
}

.view-display-id-recipe_search_page .views-row .bs-region--right .flag:focus, .view-display-id-recipe_search_page .views-row .bs-region--right .flag.focus {
  color: #82A0BC;
  background-color: #e6e6e6;
  border-color: #42607c;
}

.view-display-id-recipe_search_page .views-row .bs-region--right .flag:hover {
  color: #82A0BC;
  background-color: #e6e6e6;
  border-color: #5a82a7;
}

.view-display-id-recipe_search_page .views-row .bs-region--right .flag:active, .view-display-id-recipe_search_page .views-row .bs-region--right .flag.active,
.open > .view-display-id-recipe_search_page .views-row .bs-region--right .flag.dropdown-toggle {
  color: #82A0BC;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #5a82a7;
}

.view-display-id-recipe_search_page .views-row .bs-region--right .flag:active:hover, .view-display-id-recipe_search_page .views-row .bs-region--right .flag:active:focus, .view-display-id-recipe_search_page .views-row .bs-region--right .flag:active.focus, .view-display-id-recipe_search_page .views-row .bs-region--right .flag.active:hover, .view-display-id-recipe_search_page .views-row .bs-region--right .flag.active:focus, .view-display-id-recipe_search_page .views-row .bs-region--right .flag.active.focus,
.open > .view-display-id-recipe_search_page .views-row .bs-region--right .flag.dropdown-toggle:hover,
.open > .view-display-id-recipe_search_page .views-row .bs-region--right .flag.dropdown-toggle:focus,
.open > .view-display-id-recipe_search_page .views-row .bs-region--right .flag.dropdown-toggle.focus {
  color: #82A0BC;
  background-color: #d4d4d4;
  border-color: #42607c;
}

.view-display-id-recipe_search_page .views-row .bs-region--right .flag.disabled:hover, .view-display-id-recipe_search_page .views-row .bs-region--right .flag.disabled:focus, .view-display-id-recipe_search_page .views-row .bs-region--right .flag.disabled.focus, .view-display-id-recipe_search_page .views-row .bs-region--right .flag[disabled]:hover, .view-display-id-recipe_search_page .views-row .bs-region--right .flag[disabled]:focus, .view-display-id-recipe_search_page .views-row .bs-region--right .flag[disabled].focus,
fieldset[disabled] .view-display-id-recipe_search_page .views-row .bs-region--right .flag:hover,
fieldset[disabled] .view-display-id-recipe_search_page .views-row .bs-region--right .flag:focus,
fieldset[disabled] .view-display-id-recipe_search_page .views-row .bs-region--right .flag.focus {
  background-color: #fff;
  border-color: #82A0BC;
}

.view-display-id-recipe_search_page .views-row .bs-region--right .flag .badge {
  color: #fff;
  background-color: #82A0BC;
}

.view-display-id-recipe_search_page .views-row .bs-region--right .flag a {
  color: #82A0BC;
}

.favorite-recipes .bs-region--right, .most-viewed-recipes .bs-region--right, .related-recipes .bs-region--right {
  text-align: right;
}

.favorite-recipes .bs-region--right .flag, .most-viewed-recipes .bs-region--right .flag, .related-recipes .bs-region--right .flag {
  float: right;
  padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
  color: #82A0BC;
  background-color: #fff;
  border-color: #82A0BC;
  border-radius: 1.5625rem;
}

.favorite-recipes .bs-region--right .flag:focus, .favorite-recipes .bs-region--right .flag.focus, .most-viewed-recipes .bs-region--right .flag:focus, .most-viewed-recipes .bs-region--right .flag.focus, .related-recipes .bs-region--right .flag:focus, .related-recipes .bs-region--right .flag.focus {
  color: #82A0BC;
  background-color: #e6e6e6;
  border-color: #42607c;
}

.favorite-recipes .bs-region--right .flag:hover, .most-viewed-recipes .bs-region--right .flag:hover, .related-recipes .bs-region--right .flag:hover {
  color: #82A0BC;
  background-color: #e6e6e6;
  border-color: #5a82a7;
}

.favorite-recipes .bs-region--right .flag:active, .favorite-recipes .bs-region--right .flag.active,
.open > .favorite-recipes .bs-region--right .flag.dropdown-toggle, .most-viewed-recipes .bs-region--right .flag:active, .most-viewed-recipes .bs-region--right .flag.active,
.open > .most-viewed-recipes .bs-region--right .flag.dropdown-toggle, .related-recipes .bs-region--right .flag:active, .related-recipes .bs-region--right .flag.active,
.open > .related-recipes .bs-region--right .flag.dropdown-toggle {
  color: #82A0BC;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #5a82a7;
}

.favorite-recipes .bs-region--right .flag:active:hover, .favorite-recipes .bs-region--right .flag:active:focus, .favorite-recipes .bs-region--right .flag:active.focus, .favorite-recipes .bs-region--right .flag.active:hover, .favorite-recipes .bs-region--right .flag.active:focus, .favorite-recipes .bs-region--right .flag.active.focus,
.open > .favorite-recipes .bs-region--right .flag.dropdown-toggle:hover,
.open > .favorite-recipes .bs-region--right .flag.dropdown-toggle:focus,
.open > .favorite-recipes .bs-region--right .flag.dropdown-toggle.focus, .most-viewed-recipes .bs-region--right .flag:active:hover, .most-viewed-recipes .bs-region--right .flag:active:focus, .most-viewed-recipes .bs-region--right .flag:active.focus, .most-viewed-recipes .bs-region--right .flag.active:hover, .most-viewed-recipes .bs-region--right .flag.active:focus, .most-viewed-recipes .bs-region--right .flag.active.focus,
.open > .most-viewed-recipes .bs-region--right .flag.dropdown-toggle:hover,
.open > .most-viewed-recipes .bs-region--right .flag.dropdown-toggle:focus,
.open > .most-viewed-recipes .bs-region--right .flag.dropdown-toggle.focus, .related-recipes .bs-region--right .flag:active:hover, .related-recipes .bs-region--right .flag:active:focus, .related-recipes .bs-region--right .flag:active.focus, .related-recipes .bs-region--right .flag.active:hover, .related-recipes .bs-region--right .flag.active:focus, .related-recipes .bs-region--right .flag.active.focus,
.open > .related-recipes .bs-region--right .flag.dropdown-toggle:hover,
.open > .related-recipes .bs-region--right .flag.dropdown-toggle:focus,
.open > .related-recipes .bs-region--right .flag.dropdown-toggle.focus {
  color: #82A0BC;
  background-color: #d4d4d4;
  border-color: #42607c;
}

.favorite-recipes .bs-region--right .flag.disabled:hover, .favorite-recipes .bs-region--right .flag.disabled:focus, .favorite-recipes .bs-region--right .flag.disabled.focus, .favorite-recipes .bs-region--right .flag[disabled]:hover, .favorite-recipes .bs-region--right .flag[disabled]:focus, .favorite-recipes .bs-region--right .flag[disabled].focus,
fieldset[disabled] .favorite-recipes .bs-region--right .flag:hover,
fieldset[disabled] .favorite-recipes .bs-region--right .flag:focus,
fieldset[disabled] .favorite-recipes .bs-region--right .flag.focus, .most-viewed-recipes .bs-region--right .flag.disabled:hover, .most-viewed-recipes .bs-region--right .flag.disabled:focus, .most-viewed-recipes .bs-region--right .flag.disabled.focus, .most-viewed-recipes .bs-region--right .flag[disabled]:hover, .most-viewed-recipes .bs-region--right .flag[disabled]:focus, .most-viewed-recipes .bs-region--right .flag[disabled].focus,
fieldset[disabled] .most-viewed-recipes .bs-region--right .flag:hover,
fieldset[disabled] .most-viewed-recipes .bs-region--right .flag:focus,
fieldset[disabled] .most-viewed-recipes .bs-region--right .flag.focus, .related-recipes .bs-region--right .flag.disabled:hover, .related-recipes .bs-region--right .flag.disabled:focus, .related-recipes .bs-region--right .flag.disabled.focus, .related-recipes .bs-region--right .flag[disabled]:hover, .related-recipes .bs-region--right .flag[disabled]:focus, .related-recipes .bs-region--right .flag[disabled].focus,
fieldset[disabled] .related-recipes .bs-region--right .flag:hover,
fieldset[disabled] .related-recipes .bs-region--right .flag:focus,
fieldset[disabled] .related-recipes .bs-region--right .flag.focus {
  background-color: #fff;
  border-color: #82A0BC;
}

.favorite-recipes .bs-region--right .flag .badge, .most-viewed-recipes .bs-region--right .flag .badge, .related-recipes .bs-region--right .flag .badge {
  color: #fff;
  background-color: #82A0BC;
}

.favorite-recipes .bs-region--right .flag a, .most-viewed-recipes .bs-region--right .flag a, .related-recipes .bs-region--right .flag a {
  color: #82A0BC;
}

.favorite-recipes .bs-region--left .field--name-node-author a, .most-viewed-recipes .bs-region--left .field--name-node-author a, .related-recipes .bs-region--left .field--name-node-author a {
  font-size: 14px;
  font-size: 0.88rem;
  text-align: left;
}

.main-container .block-content {
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

.main-container .block-block-content {
  padding-bottom: 2.5rem;
}

.main-container section.split-view-container {
  max-width: 90%;
  margin: auto;
  margin-top: 2.25rem;
}

.block .block-title {
  margin-left: auto;
  margin-right: auto;
}

#block-welcome p {
  font-size: larger;
}

.block-views-exposed-filter-blocksearch-content-recipe-search-page {
  margin: 3% 0;
  text-align: center;
}

.block-views-exposed-filter-blocksearch-content-recipe-search-page .form-actions {
  float: none;
  width: unset;
  order: 2;
}

.block-views-exposed-filter-blocksearch-content-recipe-search-page .form-actions button {
  background: #82A0BC;
  font-size: inherit;
  font-weight: bold;
  margin: 0;
  color: #fff;
  line-height: 4;
  width: unset;
  border: 1px solid #82A0BC;
  float: none;
  padding: 0 20px;
  text-transform: uppercase;
}

.block-views-exposed-filter-blocksearch-content-recipe-search-page .form-actions button:hover {
  background: #fff;
  color: #000;
}

.block-views-exposed-filter-blocksearch-content-recipe-search-page .form--inline {
  width: 100%;
  display: flex;
}

.block-views-exposed-filter-blocksearch-content-recipe-search-page .form--inline > .form-item {
  display: contents;
  float: none;
  width: auto;
}

.block-views-exposed-filter-blocksearch-content-recipe-search-page input {
  height: auto;
  margin-right: 5px;
  line-height: 4;
  padding: 4px 15px;
  width: 100% !important;
  float: none;
  order: 1;
}

#block-eventsearchreset {
  margin: 3% 0;
  text-align: center;
}

#block-eventsearchreset a {
  opacity: 0.9;
  background: #888DA7;
  font-size: inherit;
  font-weight: bold;
  margin: 0;
  color: #fff;
  line-height: 4;
  width: unset;
  border: 1px solid #888DA7;
  float: none;
  padding: 0 20px;
  text-transform: uppercase;
}

.block-facets-summary {
  width: 100%;
  clear: both;
}

.block-facets-summary ul:not(.contextual-links) {
  padding: 0;
  margin: 0;
  display: flex;
}

.block-facets-summary ul:not(.contextual-links) li {
  list-style: none;
  text-transform: uppercase;
  align-self: flex-end;
}

.block-facets-summary ul:not(.contextual-links) .facet-summary-item--clear {
  order: 100;
  margin-left: auto;
  align-self: flex-end;
  font-weight: 700;
  list-style: none;
}

/** dashboard links **/
.block-content--type-dashboard-links {
  padding-top: 2.5rem;
  max-width: 50%;
}

.block-content--type-dashboard-links .field {
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

.block-content--type-dashboard-links .field a {
  color: #82A0BC;
  background-color: #fff;
  border-color: #82A0BC;
  border-radius: 1.5625rem;
}

.block-content--type-dashboard-links .field a:focus, .block-content--type-dashboard-links .field a.focus {
  color: #82A0BC;
  background-color: #e6e6e6;
  border-color: #42607c;
}

.block-content--type-dashboard-links .field a:hover {
  color: #82A0BC;
  background-color: #e6e6e6;
  border-color: #5a82a7;
}

.block-content--type-dashboard-links .field a:active, .block-content--type-dashboard-links .field a.active,
.open > .block-content--type-dashboard-links .field a.dropdown-toggle {
  color: #82A0BC;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #5a82a7;
}

.block-content--type-dashboard-links .field a:active:hover, .block-content--type-dashboard-links .field a:active:focus, .block-content--type-dashboard-links .field a:active.focus, .block-content--type-dashboard-links .field a.active:hover, .block-content--type-dashboard-links .field a.active:focus, .block-content--type-dashboard-links .field a.active.focus,
.open > .block-content--type-dashboard-links .field a.dropdown-toggle:hover,
.open > .block-content--type-dashboard-links .field a.dropdown-toggle:focus,
.open > .block-content--type-dashboard-links .field a.dropdown-toggle.focus {
  color: #82A0BC;
  background-color: #d4d4d4;
  border-color: #42607c;
}

.block-content--type-dashboard-links .field a.disabled:hover, .block-content--type-dashboard-links .field a.disabled:focus, .block-content--type-dashboard-links .field a.disabled.focus, .block-content--type-dashboard-links .field a[disabled]:hover, .block-content--type-dashboard-links .field a[disabled]:focus, .block-content--type-dashboard-links .field a[disabled].focus,
fieldset[disabled] .block-content--type-dashboard-links .field a:hover,
fieldset[disabled] .block-content--type-dashboard-links .field a:focus,
fieldset[disabled] .block-content--type-dashboard-links .field a.focus {
  background-color: #fff;
  border-color: #82A0BC;
}

.block-content--type-dashboard-links .field a .badge {
  color: #fff;
  background-color: #82A0BC;
}

/***   Facets ***/
.facetblock {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.facetblock .block-title {
  width: 75%;
  margin-left: 0;
}

.facetblock ul:not(.contextual-links) li {
  list-style: none;
  margin-bottom: 0.3125rem;
}

.facetblock ul:not(.contextual-links) li input[type=checkbox] {
  display: none;
}

.facetblock ul:not(.contextual-links) li input[type=checkbox] + label {
  display: block;
  cursor: pointer;
  font-weight: normal;
  margin: 0;
}

.facetblock ul:not(.contextual-links) li input[type=checkbox] + label:before {
  content: "";
  border: 1px solid #000;
  border-radius: 0;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 10px;
  color: transparent;
  transition: .2s;
  position: absolute;
  margin-top: 5px;
  left: 0;
}

.facetblock ul:not(.contextual-links) li input[type=checkbox] + label:before:hover {
  border: 1px solid #d39728;
}

.facetblock ul:not(.contextual-links) li input[type=checkbox] + label:before:checked {
  color: #d39728;
}

.facetblock ul:not(.contextual-links) li input[type=checkbox] + label:before:checked + label {
  color: #d39728;
}

.page-node-type-recipe {
  counter-reset: paragraph--type--instruction;
  /* default padding for regions.  */
}

.page-node-type-recipe .bs-region {
  padding-bottom: 1.5rem;
  /* Command and Question Tabs container */
}

.page-node-type-recipe .bs-region h4 {
  color: transparent;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-shadow: 0 0 #425259, 0.08em 0 0 #fff, 0 0, -0.08em 0 0 #fff;
  vertical-align: bottom;
  padding-bottom: 1rem;
}

.page-node-type-recipe .bs-region h4:after {
  background: linear-gradient(to bottom, rgba(66, 82, 89, 0.8), rgba(66, 82, 89, 0.8)) center 1.08em/100% 2px no-repeat;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 400%;
  will-change: transform;
  z-index: -1;
}

.page-node-type-recipe .bs-region h4:hover:after {
  animation: underline-gradient 6s linear infinite;
  background-image: linear-gradient(90deg, rgba(126, 162, 170, 0.8) 15%, rgba(130, 160, 188, 0.6) 35%, rgba(126, 162, 170, 0.8) 85%);
}

.page-node-type-recipe .bs-region .commsandquest {
  max-width: 80%;
  margin: auto;
}

.page-node-type-recipe .bs-region--top {
  border-bottom: 0.0625rem solid #7EA2AA;
  margin-bottom: 1rem;
}

.page-node-type-recipe .bs-2col-stacked .bs-region--top {
  border-bottom: transparent;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.page-node-type-recipe .paragraph--type--instruction {
  position: relative;
  counter-increment: paragraph--type--instruction;
}

.page-node-type-recipe .paragraph--type--instruction:before {
  content: counter(paragraph--type--instruction) ".";
}

.user-logged-in .node-recipe-recipe-step-1-form .form-type-vertical-tabs,
.user-logged-in .node-recipe-recipe-step-2-form .form-type-vertical-tabs,
.user-logged-in .node-recipe-recipe-step-3-form .form-type-vertical-tabs,
.user-logged-in .node-recipe-recipe-step-4-form .form-type-vertical-tabs {
  display: none;
}

.form-actions button.btn-primary, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.flag, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.flag, .form-actions .favorite-recipes .bs-region--right button.flag, .favorite-recipes .bs-region--right .form-actions button.flag, .form-actions .most-viewed-recipes .bs-region--right button.flag, .most-viewed-recipes .bs-region--right .form-actions button.flag, .form-actions .related-recipes .bs-region--right button.flag, .related-recipes .bs-region--right .form-actions button.flag, .form-actions .page-node-type-recipe button.paragraph--type--instruction:before, .page-node-type-recipe .form-actions button.paragraph--type--instruction:before {
  color: #fff;
  background-color: #d39728;
  border-color: #fff;
}

.form-actions button.btn-primary:focus, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.flag:focus, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.flag:focus, .form-actions .favorite-recipes .bs-region--right button.flag:focus, .favorite-recipes .bs-region--right .form-actions button.flag:focus, .form-actions .most-viewed-recipes .bs-region--right button.flag:focus, .most-viewed-recipes .bs-region--right .form-actions button.flag:focus, .form-actions .related-recipes .bs-region--right button.flag:focus, .related-recipes .bs-region--right .form-actions button.flag:focus, .form-actions .page-node-type-recipe button.paragraph--type--instruction:focus:before, .page-node-type-recipe .form-actions button.paragraph--type--instruction:focus:before, .form-actions button.btn-primary.focus, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.focus.flag, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.focus.flag, .form-actions .favorite-recipes .bs-region--right button.focus.flag, .favorite-recipes .bs-region--right .form-actions button.focus.flag, .form-actions .most-viewed-recipes .bs-region--right button.focus.flag, .most-viewed-recipes .bs-region--right .form-actions button.focus.flag, .form-actions .related-recipes .bs-region--right button.focus.flag, .related-recipes .bs-region--right .form-actions button.focus.flag, .form-actions .page-node-type-recipe button.focus.paragraph--type--instruction:before, .page-node-type-recipe .form-actions button.focus.paragraph--type--instruction:before {
  color: #fff;
  background-color: #a87820;
  border-color: #bfbfbf;
}

.form-actions button.btn-primary:hover, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.flag:hover, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.flag:hover, .form-actions .favorite-recipes .bs-region--right button.flag:hover, .favorite-recipes .bs-region--right .form-actions button.flag:hover, .form-actions .most-viewed-recipes .bs-region--right button.flag:hover, .most-viewed-recipes .bs-region--right .form-actions button.flag:hover, .form-actions .related-recipes .bs-region--right button.flag:hover, .related-recipes .bs-region--right .form-actions button.flag:hover, .form-actions .page-node-type-recipe button.paragraph--type--instruction:hover:before, .page-node-type-recipe .form-actions button.paragraph--type--instruction:hover:before {
  color: #fff;
  background-color: #a87820;
  border-color: #e0e0e0;
}

.form-actions button.btn-primary:active, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.flag:active, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.flag:active, .form-actions .favorite-recipes .bs-region--right button.flag:active, .favorite-recipes .bs-region--right .form-actions button.flag:active, .form-actions .most-viewed-recipes .bs-region--right button.flag:active, .most-viewed-recipes .bs-region--right .form-actions button.flag:active, .form-actions .related-recipes .bs-region--right button.flag:active, .related-recipes .bs-region--right .form-actions button.flag:active, .form-actions .page-node-type-recipe button.paragraph--type--instruction:active:before, .page-node-type-recipe .form-actions button.paragraph--type--instruction:active:before, .form-actions button.btn-primary.active, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.active.flag, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.active.flag, .form-actions .favorite-recipes .bs-region--right button.active.flag, .favorite-recipes .bs-region--right .form-actions button.active.flag, .form-actions .most-viewed-recipes .bs-region--right button.active.flag, .most-viewed-recipes .bs-region--right .form-actions button.active.flag, .form-actions .related-recipes .bs-region--right button.active.flag, .related-recipes .bs-region--right .form-actions button.active.flag, .form-actions .page-node-type-recipe button.active.paragraph--type--instruction:before, .page-node-type-recipe .form-actions button.active.paragraph--type--instruction:before,
.open > .form-actions button.btn-primary.dropdown-toggle,
.open > .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.dropdown-toggle.flag,
.view-display-id-recipe_search_page .views-row .bs-region--right .open > .form-actions button.dropdown-toggle.flag,
.open > .form-actions .favorite-recipes .bs-region--right button.dropdown-toggle.flag,
.favorite-recipes .bs-region--right .open > .form-actions button.dropdown-toggle.flag,
.open > .form-actions .most-viewed-recipes .bs-region--right button.dropdown-toggle.flag,
.most-viewed-recipes .bs-region--right .open > .form-actions button.dropdown-toggle.flag,
.open > .form-actions .related-recipes .bs-region--right button.dropdown-toggle.flag,
.related-recipes .bs-region--right .open > .form-actions button.dropdown-toggle.flag,
.open > .form-actions .page-node-type-recipe button.dropdown-toggle.paragraph--type--instruction:before,
.page-node-type-recipe .open > .form-actions button.dropdown-toggle.paragraph--type--instruction:before {
  color: #fff;
  background-color: #a87820;
  background-image: none;
  border-color: #e0e0e0;
}

.form-actions button.btn-primary:active:hover, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.flag:active:hover, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.flag:active:hover, .form-actions .favorite-recipes .bs-region--right button.flag:active:hover, .favorite-recipes .bs-region--right .form-actions button.flag:active:hover, .form-actions .most-viewed-recipes .bs-region--right button.flag:active:hover, .most-viewed-recipes .bs-region--right .form-actions button.flag:active:hover, .form-actions .related-recipes .bs-region--right button.flag:active:hover, .related-recipes .bs-region--right .form-actions button.flag:active:hover, .form-actions .page-node-type-recipe button.paragraph--type--instruction:active:hover:before, .page-node-type-recipe .form-actions button.paragraph--type--instruction:active:hover:before, .form-actions button.btn-primary:active:focus, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.flag:active:focus, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.flag:active:focus, .form-actions .favorite-recipes .bs-region--right button.flag:active:focus, .favorite-recipes .bs-region--right .form-actions button.flag:active:focus, .form-actions .most-viewed-recipes .bs-region--right button.flag:active:focus, .most-viewed-recipes .bs-region--right .form-actions button.flag:active:focus, .form-actions .related-recipes .bs-region--right button.flag:active:focus, .related-recipes .bs-region--right .form-actions button.flag:active:focus, .form-actions .page-node-type-recipe button.paragraph--type--instruction:active:focus:before, .page-node-type-recipe .form-actions button.paragraph--type--instruction:active:focus:before, .form-actions button.btn-primary:active.focus, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.flag:active.focus, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.flag:active.focus, .form-actions .favorite-recipes .bs-region--right button.flag:active.focus, .favorite-recipes .bs-region--right .form-actions button.flag:active.focus, .form-actions .most-viewed-recipes .bs-region--right button.flag:active.focus, .most-viewed-recipes .bs-region--right .form-actions button.flag:active.focus, .form-actions .related-recipes .bs-region--right button.flag:active.focus, .related-recipes .bs-region--right .form-actions button.flag:active.focus, .form-actions .page-node-type-recipe button.paragraph--type--instruction:active.focus:before, .page-node-type-recipe .form-actions button.paragraph--type--instruction:active.focus:before, .form-actions button.btn-primary.active:hover, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.active.flag:hover, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.active.flag:hover, .form-actions .favorite-recipes .bs-region--right button.active.flag:hover, .favorite-recipes .bs-region--right .form-actions button.active.flag:hover, .form-actions .most-viewed-recipes .bs-region--right button.active.flag:hover, .most-viewed-recipes .bs-region--right .form-actions button.active.flag:hover, .form-actions .related-recipes .bs-region--right button.active.flag:hover, .related-recipes .bs-region--right .form-actions button.active.flag:hover, .form-actions .page-node-type-recipe button.active.paragraph--type--instruction:hover:before, .page-node-type-recipe .form-actions button.active.paragraph--type--instruction:hover:before, .form-actions button.btn-primary.active:focus, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.active.flag:focus, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.active.flag:focus, .form-actions .favorite-recipes .bs-region--right button.active.flag:focus, .favorite-recipes .bs-region--right .form-actions button.active.flag:focus, .form-actions .most-viewed-recipes .bs-region--right button.active.flag:focus, .most-viewed-recipes .bs-region--right .form-actions button.active.flag:focus, .form-actions .related-recipes .bs-region--right button.active.flag:focus, .related-recipes .bs-region--right .form-actions button.active.flag:focus, .form-actions .page-node-type-recipe button.active.paragraph--type--instruction:focus:before, .page-node-type-recipe .form-actions button.active.paragraph--type--instruction:focus:before, .form-actions button.btn-primary.active.focus, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.active.focus.flag, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.active.focus.flag, .form-actions .favorite-recipes .bs-region--right button.active.focus.flag, .favorite-recipes .bs-region--right .form-actions button.active.focus.flag, .form-actions .most-viewed-recipes .bs-region--right button.active.focus.flag, .most-viewed-recipes .bs-region--right .form-actions button.active.focus.flag, .form-actions .related-recipes .bs-region--right button.active.focus.flag, .related-recipes .bs-region--right .form-actions button.active.focus.flag, .form-actions .page-node-type-recipe button.active.focus.paragraph--type--instruction:before, .page-node-type-recipe .form-actions button.active.focus.paragraph--type--instruction:before,
.open > .form-actions button.btn-primary.dropdown-toggle:hover,
.open > .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.dropdown-toggle.flag:hover,
.view-display-id-recipe_search_page .views-row .bs-region--right .open > .form-actions button.dropdown-toggle.flag:hover,
.open > .form-actions .favorite-recipes .bs-region--right button.dropdown-toggle.flag:hover,
.favorite-recipes .bs-region--right .open > .form-actions button.dropdown-toggle.flag:hover,
.open > .form-actions .most-viewed-recipes .bs-region--right button.dropdown-toggle.flag:hover,
.most-viewed-recipes .bs-region--right .open > .form-actions button.dropdown-toggle.flag:hover,
.open > .form-actions .related-recipes .bs-region--right button.dropdown-toggle.flag:hover,
.related-recipes .bs-region--right .open > .form-actions button.dropdown-toggle.flag:hover,
.open > .form-actions .page-node-type-recipe button.dropdown-toggle.paragraph--type--instruction:hover:before,
.page-node-type-recipe .open > .form-actions button.dropdown-toggle.paragraph--type--instruction:hover:before,
.open > .form-actions button.btn-primary.dropdown-toggle:focus,
.open > .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.dropdown-toggle.flag:focus,
.view-display-id-recipe_search_page .views-row .bs-region--right .open > .form-actions button.dropdown-toggle.flag:focus,
.open > .form-actions .favorite-recipes .bs-region--right button.dropdown-toggle.flag:focus,
.favorite-recipes .bs-region--right .open > .form-actions button.dropdown-toggle.flag:focus,
.open > .form-actions .most-viewed-recipes .bs-region--right button.dropdown-toggle.flag:focus,
.most-viewed-recipes .bs-region--right .open > .form-actions button.dropdown-toggle.flag:focus,
.open > .form-actions .related-recipes .bs-region--right button.dropdown-toggle.flag:focus,
.related-recipes .bs-region--right .open > .form-actions button.dropdown-toggle.flag:focus,
.open > .form-actions .page-node-type-recipe button.dropdown-toggle.paragraph--type--instruction:focus:before,
.page-node-type-recipe .open > .form-actions button.dropdown-toggle.paragraph--type--instruction:focus:before,
.open > .form-actions button.btn-primary.dropdown-toggle.focus,
.open > .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.dropdown-toggle.focus.flag,
.view-display-id-recipe_search_page .views-row .bs-region--right .open > .form-actions button.dropdown-toggle.focus.flag,
.open > .form-actions .favorite-recipes .bs-region--right button.dropdown-toggle.focus.flag,
.favorite-recipes .bs-region--right .open > .form-actions button.dropdown-toggle.focus.flag,
.open > .form-actions .most-viewed-recipes .bs-region--right button.dropdown-toggle.focus.flag,
.most-viewed-recipes .bs-region--right .open > .form-actions button.dropdown-toggle.focus.flag,
.open > .form-actions .related-recipes .bs-region--right button.dropdown-toggle.focus.flag,
.related-recipes .bs-region--right .open > .form-actions button.dropdown-toggle.focus.flag,
.open > .form-actions .page-node-type-recipe button.dropdown-toggle.focus.paragraph--type--instruction:before,
.page-node-type-recipe .open > .form-actions button.dropdown-toggle.focus.paragraph--type--instruction:before {
  color: #fff;
  background-color: #8a631a;
  border-color: #bfbfbf;
}

.form-actions button.btn-primary.disabled:hover, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.disabled.flag:hover, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.disabled.flag:hover, .form-actions .favorite-recipes .bs-region--right button.disabled.flag:hover, .favorite-recipes .bs-region--right .form-actions button.disabled.flag:hover, .form-actions .most-viewed-recipes .bs-region--right button.disabled.flag:hover, .most-viewed-recipes .bs-region--right .form-actions button.disabled.flag:hover, .form-actions .related-recipes .bs-region--right button.disabled.flag:hover, .related-recipes .bs-region--right .form-actions button.disabled.flag:hover, .form-actions .page-node-type-recipe button.disabled.paragraph--type--instruction:hover:before, .page-node-type-recipe .form-actions button.disabled.paragraph--type--instruction:hover:before, .form-actions button.btn-primary.disabled:focus, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.disabled.flag:focus, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.disabled.flag:focus, .form-actions .favorite-recipes .bs-region--right button.disabled.flag:focus, .favorite-recipes .bs-region--right .form-actions button.disabled.flag:focus, .form-actions .most-viewed-recipes .bs-region--right button.disabled.flag:focus, .most-viewed-recipes .bs-region--right .form-actions button.disabled.flag:focus, .form-actions .related-recipes .bs-region--right button.disabled.flag:focus, .related-recipes .bs-region--right .form-actions button.disabled.flag:focus, .form-actions .page-node-type-recipe button.disabled.paragraph--type--instruction:focus:before, .page-node-type-recipe .form-actions button.disabled.paragraph--type--instruction:focus:before, .form-actions button.btn-primary.disabled.focus, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.disabled.focus.flag, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.disabled.focus.flag, .form-actions .favorite-recipes .bs-region--right button.disabled.focus.flag, .favorite-recipes .bs-region--right .form-actions button.disabled.focus.flag, .form-actions .most-viewed-recipes .bs-region--right button.disabled.focus.flag, .most-viewed-recipes .bs-region--right .form-actions button.disabled.focus.flag, .form-actions .related-recipes .bs-region--right button.disabled.focus.flag, .related-recipes .bs-region--right .form-actions button.disabled.focus.flag, .form-actions .page-node-type-recipe button.disabled.focus.paragraph--type--instruction:before, .page-node-type-recipe .form-actions button.disabled.focus.paragraph--type--instruction:before, .form-actions button.btn-primary[disabled]:hover, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.flag[disabled]:hover, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.flag[disabled]:hover, .form-actions .favorite-recipes .bs-region--right button.flag[disabled]:hover, .favorite-recipes .bs-region--right .form-actions button.flag[disabled]:hover, .form-actions .most-viewed-recipes .bs-region--right button.flag[disabled]:hover, .most-viewed-recipes .bs-region--right .form-actions button.flag[disabled]:hover, .form-actions .related-recipes .bs-region--right button.flag[disabled]:hover, .related-recipes .bs-region--right .form-actions button.flag[disabled]:hover, .form-actions .page-node-type-recipe button.paragraph--type--instruction[disabled]:hover:before, .page-node-type-recipe .form-actions button.paragraph--type--instruction[disabled]:hover:before, .form-actions button.btn-primary[disabled]:focus, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.flag[disabled]:focus, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.flag[disabled]:focus, .form-actions .favorite-recipes .bs-region--right button.flag[disabled]:focus, .favorite-recipes .bs-region--right .form-actions button.flag[disabled]:focus, .form-actions .most-viewed-recipes .bs-region--right button.flag[disabled]:focus, .most-viewed-recipes .bs-region--right .form-actions button.flag[disabled]:focus, .form-actions .related-recipes .bs-region--right button.flag[disabled]:focus, .related-recipes .bs-region--right .form-actions button.flag[disabled]:focus, .form-actions .page-node-type-recipe button.paragraph--type--instruction[disabled]:focus:before, .page-node-type-recipe .form-actions button.paragraph--type--instruction[disabled]:focus:before, .form-actions button.btn-primary[disabled].focus, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.flag[disabled].focus, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.flag[disabled].focus, .form-actions .favorite-recipes .bs-region--right button.flag[disabled].focus, .favorite-recipes .bs-region--right .form-actions button.flag[disabled].focus, .form-actions .most-viewed-recipes .bs-region--right button.flag[disabled].focus, .most-viewed-recipes .bs-region--right .form-actions button.flag[disabled].focus, .form-actions .related-recipes .bs-region--right button.flag[disabled].focus, .related-recipes .bs-region--right .form-actions button.flag[disabled].focus, .form-actions .page-node-type-recipe button.paragraph--type--instruction[disabled].focus:before, .page-node-type-recipe .form-actions button.paragraph--type--instruction[disabled].focus:before,
fieldset[disabled] .form-actions button.btn-primary:hover,
fieldset[disabled] .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.flag:hover,
.view-display-id-recipe_search_page .views-row .bs-region--right fieldset[disabled] .form-actions button.flag:hover,
fieldset[disabled] .form-actions .favorite-recipes .bs-region--right button.flag:hover,
.favorite-recipes .bs-region--right fieldset[disabled] .form-actions button.flag:hover,
fieldset[disabled] .form-actions .most-viewed-recipes .bs-region--right button.flag:hover,
.most-viewed-recipes .bs-region--right fieldset[disabled] .form-actions button.flag:hover,
fieldset[disabled] .form-actions .related-recipes .bs-region--right button.flag:hover,
.related-recipes .bs-region--right fieldset[disabled] .form-actions button.flag:hover,
fieldset[disabled] .form-actions .page-node-type-recipe button.paragraph--type--instruction:hover:before,
.page-node-type-recipe fieldset[disabled] .form-actions button.paragraph--type--instruction:hover:before,
fieldset[disabled] .form-actions button.btn-primary:focus,
fieldset[disabled] .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.flag:focus,
.view-display-id-recipe_search_page .views-row .bs-region--right fieldset[disabled] .form-actions button.flag:focus,
fieldset[disabled] .form-actions .favorite-recipes .bs-region--right button.flag:focus,
.favorite-recipes .bs-region--right fieldset[disabled] .form-actions button.flag:focus,
fieldset[disabled] .form-actions .most-viewed-recipes .bs-region--right button.flag:focus,
.most-viewed-recipes .bs-region--right fieldset[disabled] .form-actions button.flag:focus,
fieldset[disabled] .form-actions .related-recipes .bs-region--right button.flag:focus,
.related-recipes .bs-region--right fieldset[disabled] .form-actions button.flag:focus,
fieldset[disabled] .form-actions .page-node-type-recipe button.paragraph--type--instruction:focus:before,
.page-node-type-recipe fieldset[disabled] .form-actions button.paragraph--type--instruction:focus:before,
fieldset[disabled] .form-actions button.btn-primary.focus,
fieldset[disabled] .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.focus.flag,
.view-display-id-recipe_search_page .views-row .bs-region--right fieldset[disabled] .form-actions button.focus.flag,
fieldset[disabled] .form-actions .favorite-recipes .bs-region--right button.focus.flag,
.favorite-recipes .bs-region--right fieldset[disabled] .form-actions button.focus.flag,
fieldset[disabled] .form-actions .most-viewed-recipes .bs-region--right button.focus.flag,
.most-viewed-recipes .bs-region--right fieldset[disabled] .form-actions button.focus.flag,
fieldset[disabled] .form-actions .related-recipes .bs-region--right button.focus.flag,
.related-recipes .bs-region--right fieldset[disabled] .form-actions button.focus.flag,
fieldset[disabled] .form-actions .page-node-type-recipe button.focus.paragraph--type--instruction:before,
.page-node-type-recipe fieldset[disabled] .form-actions button.focus.paragraph--type--instruction:before {
  background-color: #d39728;
  border-color: #fff;
}

.form-actions button.btn-primary .badge, .form-actions .view-display-id-recipe_search_page .views-row .bs-region--right button.flag .badge, .view-display-id-recipe_search_page .views-row .bs-region--right .form-actions button.flag .badge, .form-actions .favorite-recipes .bs-region--right button.flag .badge, .favorite-recipes .bs-region--right .form-actions button.flag .badge, .form-actions .most-viewed-recipes .bs-region--right button.flag .badge, .most-viewed-recipes .bs-region--right .form-actions button.flag .badge, .form-actions .related-recipes .bs-region--right button.flag .badge, .related-recipes .bs-region--right .form-actions button.flag .badge, .form-actions .page-node-type-recipe button.paragraph--type--instruction:before .badge, .page-node-type-recipe .form-actions button.paragraph--type--instruction:before .badge {
  color: #d39728;
  background-color: #fff;
}
