.votingapi-widgets.fivestar a {
  border: none !important;
}

.votingapi-widgets.fivestar a.disabled {
  opacity: 0.5;
}

.has-glyphicons .vote-form .select-wrapper:after {
    content: '';
    display: none;
}
