// .webform-element--title-inline {
//   > label {
//     display: inline;
//     padding-right: 0.5em;
//     vertical-align: top;
//   }
//   .form-control {
//     display: inline;
//     width: 85%;
//   }
//   .select-wrapper {
//     display: inline;
//     width: 85%;
//   }
// }
.form-actions {
  button.btn-primary {
    @include button-variant(#fff, $ORANGY, #fff);
  }
}
