{#
/**
 * @file plant_info_entity.html.twig
 * Default theme implementation to present Plant Info data.
 *
 * This template is used when viewing Plant Info pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_plant_info_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('plant_info_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
