.main-container {
  .block-content {
    @include paddingSize(20px);
  }
  .block-block-content {
    padding-bottom: calculateRem(40px);
  }
  section.split-view-container {
    max-width: 90%;
    margin: auto;
    margin-top: calculateRem(36px);
  }
}

.block {
  .block-title {
    @include  push-auto;
  }
}

// Title block
#block-welcome {
  p {
    font-size: larger;
  }
}

// Recipe Search box
.block-views-exposed-filter-blocksearch-content-recipe-search-page {
	margin: 3% 0;
	text-align: center;
	.form-actions {
		float: none;
		width: unset;
		order: 2;
		button {
			background: $tertiaryColor;
			font-size: inherit;
			font-weight: bold;
			margin: 0;
			color: $color_1;
			line-height: 4;
			width: unset;
			border: 1px solid $tertiaryColor;
			float: none;
			padding: 0 20px;
			text-transform: uppercase;
			&:hover {
				background: #fff;
				color: $color_2;
			}
		}
	}
	.form--inline {
		width: 100%;
		display: flex;
		>.form-item {
			display: contents;
			float: none;
			width: auto;
		}
	}
	input {
		height: auto;
		margin-right: 5px;
		line-height: 4;
		padding: 4px 15px;
		width: 100% !important;
		float: none;
		order: 1;
	}
}
#block-eventsearchreset {
	margin: 3% 0;
	text-align: center;
	a {
		opacity: 0.9;
		background: $GRAY_BLUE;
		font-size: inherit;
		font-weight: bold;
		margin: 0;
		color: $color_1;
		line-height: 4;
		width: unset;
		border: 1px solid $GRAY_BLUE;
		float: none;
		padding: 0 20px;
		text-transform: uppercase;
	}
}

// Facet Summary
.block-facets-summary {
  width: 100%;
  clear: both;
  ul:not(.contextual-links) {
    padding: 0;
    margin: 0;
    display: flex;
    li {
      list-style: none;
      text-transform: uppercase;
      align-self: flex-end;
    }
    .facet-summary-item--clear {
      order: 100;
      margin-left: auto;
      align-self: flex-end;
      font-weight: 700;
      list-style: none;
    }
  }
}
/** dashboard links **/
.block-content--type-dashboard-links {
  padding-top: calculateRem(40px);
  max-width: 50%;
  .field {
    @include paddingSize(20px);
    //@include .btn-primary;
    a {
      @include button-variant($AIR_SUPERIORITY_BLUE, #fff, $AIR_SUPERIORITY_BLUE);
      border-radius: calculateRem(25px);
    }

  }
}

/***   Facets ***/
.facetblock {
  margin-bottom: 20px;
  // border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  .block-title {
    width: 75%;
    margin-left: 0;
    @extend h6;
  }
  ul:not(.contextual-links)  {
    li {
      list-style: none;
      // text-transform: uppercase;
      margin-bottom: calculateRem(5px);
      input[type=checkbox] {
        display: none;
        + label {
          display: block;
          cursor: pointer;
          font-weight: normal;
          margin: 0;
          &:before {
            content: "";
            border: 1px solid #000;
            border-radius: 0;
            display: inline-block;
            width: 1em;
            height: 1em;
            margin-right: 10px;
            color: transparent;
            transition: .2s;
            position: absolute;
            margin-top: 5px;
            left: 0;
          }
          &:before:hover {
            border: 1px solid $ORANGY;
          }
          &:before:checked {
            color: $ORANGY;
            + label {
              color: $ORANGY;
            }
          }
        }
      }
    }
  }
}
