//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$background_color_1: transparent;
$border_color_1: transparent;
$background_color_1: transparent;

/* Color Scheme from:
https://coolors.co/425259-8be8cb-7ea2aa-888da7-9c7a97
https://coolors.co/425259-63adf2-7ea2aa-a7cced-82a0bc
*/

$OUTER_SPACE: #425259;
$MIDDLE_BLUE_GREEN: #8BE8CB;
$WELDON_BLUE: #7EA2AA;
$GRAY_BLUE: #888DA7;
$AIR_SUPERIORITY_BLUE: #82A0BC;
$ORANGY: #d39728;

$primaryColor: $OUTER_SPACE;
$secondaryColor: $WELDON_BLUE; //#52b3a6;
$tertiaryColor: $AIR_SUPERIORITY_BLUE;
$offColor: $MIDDLE_BLUE_GREEN;

$colors: (
  'firstColor': $primaryColor,
  'secondColor': $secondaryColor,
  'thirdColor': $tertiaryColor,
);

$color_1: #fff;
$color_2: #000;
