// xLarge screen / wide desktop
//** Deprecated `$screen-xlg` as of v3.0.1
$screen-xlg:                  1920px !default;
$screen-xlg-min:              $screen-xlg !default;
//** Deprecated `$screen-xlg-desktop` as of v3.0.1
$screen-xlg-desktop:          $screen-xlg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-lg-max:              ($screen-xlg-min - 1) !default;


// xLarge screen / wide desktop
$container-xlarge-desktop:      (1920px + $grid-gutter-width) !default;
//** For `$screen-xlg-min` and up.
$container-xlg:                 $container-xlarge-desktop !default;
