
/*
  Custom mixin using calculate rem function.
  Includes fallback for browsers that don't support rems.
*/
@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@mixin marginSize($size) {
  margin-bottom: $size;
  margin-bottom: calculateRem($size);
}

@mixin paddingSize($size) {
  padding-bottom: $size;
  padding-bottom: calculateRem($size);
}

@mixin linx($link, $visit, $hover, $active, $decoration) {
  color: $link;
  text-decoration: $decoration;
  background-color: inherit;
  &:visited {
    color: $visit;
    text-decoration: $decoration;
    background-color: inherit;
  }
  &:hover {
    color: $hover;
    text-decoration: $decoration;
    background-color: inherit;
  }
  &:active {
    color: $active;
    text-decoration: $decoration;
    background-color: inherit;
  }
  &:focus {
    color: $active;
    text-decoration: $decoration;
    background-color: inherit;
  }
}

@mixin zoom-background($scale, $duration) {
  // position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  transition: transform $duration ease-in-out;
  &:hover {
    transform: scale($scale);
    transition-duration: $duration;
  }
}

/* To quickly centre a block element without having
to worry about if there is any top or bottom margin
already applied. */
@mixin push-auto {
  margin: {
    left: auto;
    right: auto;
  }
}

/*  When using ::before and ::after you'll always need
these three, so we're saving two lines of code every
time you use this. */
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

/* use this for creating scalable elements (usually images / background images)
that maintain a ratio. So to use this you could write the below and your
div would have a ratio commonly utilised by video.

div {
  @include responsive-ratio(16,9);
}

*/
@mixin responsive-ratio($x,$y, $pseudo: false) {
  $padding: unquote( ( $y / $x ) * 100 + '%' );
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}

/* A massive time saver! You can just use pixel values
but we have some default breakpoints setup that work too,
another time saver while keeping your breakpoints consistent.

The example showing the padding and font-size increasing once the viewport gets over 1024px.

.site-header {
    padding: 2rem;
    font-size: 1.8rem;
    @include mq('tablet-wide') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
}
*/
$breakpoints: (
    "xs": 480px,
    "sm": 768px,
    "md": 1024px,
    "lg": 1248px,
    "xl": 1440px,
    "hd": 1600px,
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

/* Adding Truncation to an element isn't as simple as it should be,
although it is with this handy time saver, meaning when you
include the mixin, you only have to specify your boundry with
a max width value, happy days!
*/
@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*  Example Color Array
$colors: (
  'firstColor': $primaryColor,
  'secondColor': $secondaryColor,
  'thirdColor': $tertiaryColor,
);
*/

@mixin aniborder($colors) {
  color: transparent;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-shadow:
    0 0 map_get($colors, 'firstColor'),
    .08em 0 0 #fff,
    0 0,
    -.08em 0 0 #fff;
  vertical-align: bottom;
  &:after {
    background: linear-gradient(
      to bottom,
      rgba( map_get($colors, 'firstColor'), 0.8),
      rgba( map_get($colors, 'firstColor'), 0.8)
    ) center 1.08em / 100% 2px no-repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 400%;
    will-change: transform;
    z-index: -1;
  }
  &:hover:after {
    animation: underline-gradient 6s linear infinite;
    background-image: linear-gradient(
      90deg,
      rgba( map_get($colors, 'secondColor'), 0.8) 15%,
      rgba( map_get($colors, 'thirdColor'), 0.6) 35%,
      rgba( map_get($colors, 'secondColor'), 0.8) 85%
    );
  }
}

@keyframes underline-gradient {
  0%{
    transform: translate3d(0%, 0%, 0);
  }
  100%{
    transform: translate3d(-75%, 0%, 0);
  }
}


@mixin horizontal-gradient($from, $to, $stop: 100%) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(left, $from 0%, $to $stop);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient(left, $from 0%, $to $stop);

  /* IE10+ */
  background: -ms-linear-gradient(left, $from 0%, $to $stop);

  /* Standard */
  background: linear-gradient(to right, $from 0%, $to $stop);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}
