
/*
  Function to convert px -> rem.
  http://www.stubbornella.org/content/2013/07/01/easy-peasy-rem-conversion-with-sass/
  Used in mixin.
*/
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}


/* It's so easy to loose track of your z-index values when working
in several different files, so we created this so that we could
store them in one place for easy editing/recording.

Then where ever you're wanting to use a z-index value, name it the
same as your class and add in it into your variables/setting file,
like below. You'll never have a "z-index: 99999999;" headache again.

.site-header {
    z-index: z('site-header');
}
*/
@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
    @return null;
  }
}
$z-indexes: (
    "outdated-browser",
    "modal",
    "site-header",
    "page-wrapper",
    "site-footer"
);
