{#
/**
 * @file garden.html.twig
 * Default theme implementation to present Garden data.
 *
 * This template is used when viewing Garden pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_garden()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('garden') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
