{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}
    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
      ]
    %}
    <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
      {% if not navbar_attributes.hasClass(container) %}
        <div class="{{ container }}">
      {% endif %}
      <div class="navbar-header col-xs-12">
        {{ page.navigation }}
        {# .btn-navbar is used as the toggle for collapsed navbar content #}
        {% if page.navigation_collapsible %}
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {% endif %}
      </div>

      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
        <div id="navbar-collapse" class="navbar-collapse collapse">
          {{ page.navigation_collapsible }}
        </div>
      {% endif %}
      {% if not navbar_attributes.hasClass(container) %}
        </div>
      {% endif %}

      </header>
    {% endblock %}
  {% endif %}

  {# Header #}
  {% if page.header %}
    {% block header %}
      <div class="topbar row">
        <div class="{{ container }}" role="heading">
          {{ page.header }}
        </div>
      </div>
    {% endblock %}
  {% endif %}



{# Main #}
{% block main %}
  <div role="main" class="main-container {{ container }} js-quickedit-main-content">
    <div class="row">

      {# Highlighted #}
      {% if page.highlighted %}
        {% block highlighted %}
          <div class="highlighted">{{ page.highlighted }}</div>
        {% endblock %}
      {% endif %}

      {# Help #}
      {% if page.help %}
        {% block help %}
          {{ page.help }}
        {% endblock %}
      {% endif %}

      {# Content Top #}
      {% if page.content_top %}
        {% block content_top %}
          <a id="content-top"></a>
          {{ page.content_top }}
        {% endblock %}
      {% endif %}

      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}

        {# Content Bottom #}
        {% if page.content_bottom %}
          {% block content_bottom %}
            <a id="content-bottom"></a>
            {{ page.content_bottom }}
          {% endblock %}
        {% endif %}

        {# Content Baseline #}
        {% if page.content_baseline %}
          {% block content_baseline %}
            <a id="content-baseline"></a>
            {{ page.content_baseline }}
          {% endblock %}
        {% endif %}

      </section>



      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}


    </div>
  </div>
{% endblock %}

{% if page.footer or page.footer_one or page.footer_two or page.footer_three or page.footer_four or page.footer_abs_bottom %}
  <footer class="footer {{ container }}" role="contentinfo">

  {% if page.footer %}
    {% block footer %}
      {{ page.footer }}
    {% endblock %}
  {% endif %}

  {% if page.footer_one and page.footer_two and page.footer_three and page.footer_four %}
    {# col-md-3 #}
    {% set footercol_classes = 'col-sm-12 col-lg-3' %}
  {% endif %}

  {% if page.footer_one and page.footer_two and (page.footer_three is empty or page.footer_four is empty) %}
    {% set footercol_classes = 'col-sm-12 col-lg-4' %}
  {% endif %}

  {% if page.footer_one and (page.footer_two is empty or page.footer_three is empty) and page.footer_four %}
    {% set footercol_classes = 'col-sm-12 col-lg-4' %}
  {% endif %}

  {% if (page.footer_one is empty or page.footer_two is empty) and page.footer_three and page.footer_four %}
    {% set footercol_classes = 'col-sm-12 col-lg-4' %}
    {# col-lg-4 #}
  {% endif %}

  {% if (page.footer_one is empty or page.footer_two is empty) and (page.footer_three is empty or page.footer_four is empty) %}
    {% set footercol_classes = 'col-sm-12 col-lg-6' %}
    {# col-lg-6 #}
  {% endif %}

{% if page.footer_one or page.footer_two or page.footer_three or page.footer_four %}
  <section class="footcolumns {{ container }}">

  {% if page.footer_one %}
    <div class="footsy {{ footercol_classes }}">
      {% block footer_one %}
        {{ page.footer_one }}
      {% endblock %}
    </div>
  {% endif %}

  {% if page.footer_two %}
    <div class="footsy {{ footercol_classes }}">
      {% block footer_two %}
        {{ page.footer_two }}
      {% endblock %}
    </div>
  {% endif %}

  {% if page.footer_three %}
    <div class="footsy {{ footercol_classes }}">
      {% block footer_three %}
        {{ page.footer_three }}
      {% endblock %}
    </div>
  {% endif %}

  {% if page.footer_four %}
    <div class="footsy {{ footercol_classes }}">
      {% block footer_four %}
        {{ page.footer_four }}
      {% endblock %}
    </div>
  {% endif %}

  </section>
  {% endif %}

  {% if page.footer_abs_bottom %}
    <div class="footer_abs_bottom col-md-12">
      {% block footer_abs_bottom %}
        {{ page.footer_abs_bottom }}
      {% endblock %}
    </div>
  {% endif %}

  </footer>
{% endif %}
